﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @Html.ActionLink("Team List", "TeamList", "Team")
</div>


<div>
    @Html.ActionLink("Process Teams", "ProcessTeams", "Team")
</div>
