﻿@model Earth.Ear.Ot.FantasyFootball.Models.TeamViewModel

@{
    ViewData["Title"] = "TeamDetails";
}

<h1>TeamDetails</h1>

<div>
    <h4>TeamViewModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @foreach (var player in Model.FantasyFootballDto.elements)
    {
        if (player.team == Model.SelectedTeamId)
        {
            <text>
                Id = @player.id :
                Element Type = @player.element_type :
                First Name = @player.first_name :
                Second Name = @player.second_name :
                Total Points = @player.total_points
                <br />
            </text>
        }
    }
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    <a asp-action="Index">Back to List</a>
</div>
