﻿@using Earth.Ear.Ot.FantasyFootball.Models
@model TeamViewModel

@{
    ViewData["Title"] = "TeamListView";
}

<h1>TeamListView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.FantasyFootballDto.teams)
{
        <tr>
            <td>
            <td>
                @team.id
            </td>
            <td>
                @Html.ActionLink(team.name, "TeamDetails", new { teamId = team.id })
            </td>
            <td>
                @team.code
            </td>
            <td>
                @team.position
            </td>
            <td>
                @team.link_url
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
}
    </tbody>
</table>
